<a href="https://colab.research.google.com/github/APEX-UniLaSalle/ClashOfCode/blob/main/clash_of_code_2025_03_18_groupe_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clash 1

## Enoncé

Ben, here, needs a calculator to calculate ``+``, ``-``, ``*``, ``/`` for two one-digit numbers. Please help him design a calculator to solve his problem.

** No divisions by zero will appear in the test cases **

### Entrée
Line 1: A line line that contains a one-digit number ``a``, an ``operator``, and another one-digit number ``b``.
### Sortie
Line 1: The result of the operation, rounded to the nearest integer.
### Contraintes
0 <= ``a`` <= 9
0 <= ``b`` <= 9
### Exemple
#### Entrée
``1*3``
#### Sortie
``3``

## Correction classique

In [ ]:
import math

# line = input()
line = "6*7"

print(line[0])
print(line[1])
print(line[2])

if line[1] == '*':
    print (int(line[0]) * int(line[2]))
elif line[1] == '-':
    print (int(line[0]) - int(line[2]))
elif line[1] == '+':
    print (int(line[0]) + int(line[2]))
else:
    print (math.ceil(int(line[0]) / int(line[2])))

6
*
7
42

## Correction avec fonction (et avec le match / case)
https://www.freecodecamp.org/news/python-switch-statement-switch-case-example/

In [ ]:
import math

def calc (input):
  match line[1]:
    case '*':
      return (int(line[0]) * int(line[2]))
    case '-':
      return (int(line[0]) - int(line[2]))
    case '+':
      return (int(line[0]) + int(line[2]))
    case _:
      return (math.ceil(int(line[0]) / int(line[2])))

# line = input()
line = "6*7"
print(calc(line))

42

## Correction pour les maîtres python

In [ ]:
# line = input()
line = "6*7"

print (math.ceil(eval(line)))

42

# Clash 2

## Enoncé

You borrowed ``N`` dollars from the bank. The compound interest accrues ``I`` % each month. You will pay the interest in ``M`` months. Then how many $s you have to pay to the bank after ``M`` months ?

The result will be always an integer.

### Entrée
Line 1: Integers ``N``, ``I``, ``M``
### Sortie
Line 1: The amount of the money you have to pay to the bank
### Contraintes
0 ≤ ``N`` ≤ 10000
0 ≤ ``I`` ≤ 100
0 ≤ ``M`` ≤ 12
0 ≤ the result ≤ 10000
### Exemple
#### Entrée
``200 50 2``
#### Sortie
``450``

## Correction classique

In [ ]:
input = "200 50 2"
print (input)
print (input.split())
#for i in input.split():
#  print (int(i))
print ([int(i) for i in input.split()])
n, i, m = [int(i) for i in input.split()]
print(n, i, m)

# n, i, m = [int(i) for i in input().split()]
n, i, m = 200, 50, 2

for j in range(m):
    n+=n*i/100
    # n = n + n*i/100

print(int(n))

200 50 2
['200', '50', '2']
[200, 50, 2]
200 50 2
450

## Correction avec fonction

In [ ]:
def bank(sum, interest, month):
  for j in range(month):
    sum+=sum*interest/100
  return int(sum)

print(bank(200, 50, 2))

450

## Correction pour les traders
https://www.monpetitplacement.fr/epargne/calcul-interets

In [ ]:
# n, i, m = [int(i) for i in input().split()]
n, i, m = 200, 50, 2

print (round(n * (i / 100 + 1) ** m))

450

# Clash 3

## Enoncé

Given an integer ``N``, give all its divisors in decreasing order.
### Entrée
Line 1: An integer ``N``
### Sortie
Line 1: all divisors (space separated)
### Contraintes
1 ≤ ``N`` < 100000
### Exemple
#### Entrée
``6``
#### Sortie
``6 3 2 1``

## Correction classique

In [ ]:
#n = int(input())
n = int("6")

result = []
for i in range(n, 0, -1):
  print(i)
  if n // i == n / i:
    result.append(str(i))
    print(result)

print(" ".join(result))

6
['6']
5
4
3
['6', '3']
2
['6', '3', '2']
1
['6', '3', '2', '1']
6 3 2 1

## Autre solution

In [ ]:
#n = int(input())
n = int("6")

for i in range(n-1):
  if n%(n-i)==0:
    print(n-i,end=' ')
print(1)

6 3 2 1

## Correction avec fonction

In [ ]:
def divisors(number):
  result = []
  for i in range(1, n+1):
    if n%i==0:
      result.append(str(i))
  return " ".join(sorted(result, reverse=True))

#n = int(input())
n = int("6")
print (divisors(n))

6 3 2 1